@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');

:root{
    --fonte-titulo:'Oswald';
    --fonte-texto:'Story Script';
    --cor-principal: #a5bbf6;
    --cor-secundaria: #284f92	;
    --cor-destaque: #244d7f;
    --cor-texto: #0e0c0cff;
}
body{
    background-color: var(--cor-principal);
    color: var(--cor-texto);
    font-family: var(--fonte-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}
h1, .caixa-perguntas, .caixa-resultados{
    font-family: var(--fonte-titulo);
}
h1{
    color: var(--cor-destaque);
}
button{
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    background-color: background-color 0.3s;
}
button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}
.caixa-resultados{
    display: none;
}
.caixa-resultados.mostrar{
    display: block;
}
.caixa-alternativas{
    display: flex;
    flex-direction: column;
    gap: 10px;
}