@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');

:root{
    --fonte-titulo:'Oswald';
    --fonte-texto:'Story Script';
    --cor-principal: #2E3440;
    --cor-secundaria: #6b2b5f	;
    --cor-destaque: #88C0D0;
    --cor-texto: #ABB2BF;
}
body{
    background-color: var(--cor-principal);
    color: var(--cor-texto);
    font-family: var(--fonte-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
}
.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    
}
    